.search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
    z-index: 2;
  }
  .search__searchInput {
    height: 52px;
    padding: 10px;
    width: 100%;
  }
  
  .search__searchIcon {
    padding: 5px;
    width: 52px !important;
    height: 52px !important;
    background-color: #007bff;
    border-radius: 10px;
    z-index: 5;
    cursor: pointer;
  }
  