.mainPage {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    flex-direction: column;
    margin-right: auto;
    max-width: 1500px;
    min-height: 100vh;
    overflow: hidden;
    padding-bottom: 100px;
    position: relative;
    background: url(./img/net-bg.jpg) center center no-repeat;
    background-position: 0.1%;
  }
  
  .mainpage__row {
    display: flex;
    z-index: 1;
    flex-grow: 1;
    width: 100%;
  }
  
  .mainpage__latest {
    font-weight: 300;
    color: black;
    z-index: 5;
  }
  
  .mainpage__image {
    width: 100%;
    margin-bottom: -240px;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    filter: drop-shadow(-2px -2px -2px black);
  }
  