body {
  font: 100%/1.414 "Open Sans", "Roboto", arial, sans-serif;
  background: #e9e9e9;
}

a,
[type="submit"] {
  transition: all 0.25s ease-in;
}

.poster {
  width: 100%;
  height: 100vh;
  margin-top: -70px;
  background: url(../Mainpage/img/net-bg-res.jpg) center center no-repeat;
}

.register__errors {
  color: red;
  margin: 0px;
  font-size: 12px;
}

.signup__container {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  transform: translateY(-50%);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50rem;
  height: 32rem;
  border-radius: 0.1875rem;
  box-shadow: 0px 0.1875rem 0.4375rem rgba(0, 0, 0, 0.25);
}

.signup__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.76);
}

.container__child {
  width: 50%;
  height: 100%;
  color: #fff;
}

.signup__thumbnail {
  position: relative;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: url(http://ultraimg.com/images/spectre-login.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.thumbnail__logo,
.thumbnail__content {
  position: relative;
  z-index: 2;
}

.thumbnail__logo {
  align-self: flex-start;
}

.logo__text {
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 700;
  vertical-align: bottom;
}

.thumbnail__content {
  align-self: center;
}

.button__center {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

h1,
h2 {
  font-weight: 300;
  color: white;
}

.heading--primary {
  font-size: 1.999rem;
}

.heading--secondary {
  font-size: 1rem;
}

.signup__form {
  padding: 2.5rem;
  background: #fafafa;
}

label {
  font-size: 0.85rem;
  text-transform: uppercase;
  color: #ccc;
}

.register__button {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  flex-grow: 1;
}
